@media (max-width: 767px) {
    .weather-container {
        width: 90%;
    }
    .container .fav-locations {
        margin: 0;
    }
    .weather-container ul.state {
        grid-template-columns: repeat(2, 1fr);
    }

    .weather-container .date-row ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    div.search-container {
        width: 80vw;
    }
  }

