body {
    margin: 0;
    background-color: #F8F9FA;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
	max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: column wrap;
}