/* eslint-disable no-undef */
<template>
    <div class="search-container">
        <Error :error="errorObj"/>
        <div class="message" :class="{show: infoMessage}">{{infoMessage}}</div>
        <input ref="autocomplete"
        placeholder="Search"
        class="search-location"
        @focus="clearInput"
        @keyup.enter="showInfoMessage"
        type="text" />
        <ul class="fav-list">
            <li v-for="location in favorites" :key="location.id">
                <a :href="'#'+location.city.name">{{location.city.name}}</a>
                <img src="../assets/delete.png" @click="removeFav(location.city.name)">
            </li>
        </ul>
    </div>
</template>

<script>
import Error from './Error'

export default {
  name: 'search-city',
  data () {
    return {
      infoMessage: ''
    }
  },
  components: {
    Error
  },
  computed: {
    favorites () {
      return this.$store.state.weather.favorites
    },
    errorObj () {
      return this.$store.state.weather.error
    }
  },
  methods: {
    removeFav (city) {
      this.$store.dispatch('weather/removeLocation', city)
    },
    clearInput () {
      const field = this.$refs.autocomplete
      field.value = ''
      field.placeholder = ''
      this.$store.dispatch('weather/clearError')
    },
    showInfoMessage () {
      this.infoMessage = 'Please, choose one from list!'
    }
  },
  mounted () {
    // eslint-disable-next-line
    this.autocomplete = new google.maps.places.Autocomplete(
      this.$refs.autocomplete,
      { types: ['geocode'] }
    )
    this.autocomplete.addListener('place_changed', () => {
      let place = this.autocomplete.getPlace()
      const coord = {
        lat: place.geometry.location.lat(),
        lon: place.geometry.location.lng()
      }
      this.infoMessage = ''
      this.$store.dispatch('weather/getLocationWeather', { coord })
    })
  }
}
</script>

<style lang="less">
.search-container {
  margin: 0 auto;
  width: 60vw;
  .message {
    color: #d8000c;
    opacity: 0;
    height: 25px;
    position: relative;
    &.show {
      opacity: 1;
    }
  }
  .search-location {
    border: 0;
    border-bottom: 2px solid #1976d2;
    width: 100%;
    outline: 0;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    background: transparent;
    color: #00688b;
  }
  .fav-list {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    li {
      padding: 5px;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #00688b;
      }
    }
  }
}
</style>
