<template>
    <header id="header">
        <div>WeatherList</div>
    </header>
</template>

<script>
export default {
  name: 'header-bar'
}
</script>

<style lang="less">
header {
  width: 100vw;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
</style>
