<template>
  <div class="weather-container" :id="city.name">
    <div class="city-info">
      <span>{{city.name}}, </span>
      <span>{{city.country}}</span>
    </div>
    <div class="date-row">
      <ul>
        <li v-for="dayWeather in forecast"
        :key="dayWeather.id"
        @click="chooseDay(dayWeather)"
        :class="{'active': ifChoosen(dayWeather)}">
          <span>{{getDate(dayWeather)}}</span>
        </li>
      </ul>
    </div>
      <div class="other-days-state" v-for="dayWeather in forecast"
      :key="dayWeather.id"
      v-show="ifChoosen(dayWeather)">
        <ul class="state">
          <li v-for="weather in dayWeather" :key="weather.id">
            <div class="status">
              <i class="wu wu-black wu-32" :class="'wu-' + iconClass(weather.weather[0].main)"></i>
              <span>{{weather.weather[0].main}}</span>
            </div>
            <div class="summary">
              <div>
                {{toCelsium(weather.main.temp_max)}}
                <span>℃</span>
              </div>
              <div>
                {{weather.wind.speed}}
                <span>m/s</span>
              </div>
              <div class="time">
                {{getTime(weather.dt_txt)}}
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Location',
  data () {
    return {
      choosenDay: ''
    }
  },
  props: ['weather', 'city'],
  computed: {
    forecast () {
      const withoutFirstDay = Object.values(this.weather)
      return Object.values(withoutFirstDay)
    }
  },
  methods: {
    ifChoosen (day) {
      return this.choosenDay === this.getDate(day)
    },
    chooseDay (day) {
      const date = this.getDate(day)
      this.choosenDay = date
    },
    getDate (array) {
      const firstEl = Object.values(array)[0]
      return moment(firstEl.dt_txt).format('dddd')
    },
    getTime (time) {
      return moment(time).format('h:mm a')
    },
    toCelsium (temp) {
      return (temp - 273.15).toFixed(2)
    },
    iconClass (status) {
      switch (status) {
        case 'Clear':
          return 'clear'
        case 'Clouds':
          return 'cloudy'
        case 'Rain':
          return 'rain'
        case 'Thunderstorm':
          return 'tstorms'
        case 'Drizzle':
          return 'sleet'
        case 'Snow':
          return 'snow'
        case 'Atmosphere':
          return 'fog'
        default:
          return 'unknown'
      }
    }
  },
  mounted () {
    this.choosenDay = this.getDate(this.forecast[0])
  }
}
</script>

<style lang="less">
.weather-container {
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(73, 80, 87, 0.05);
  margin: 10px auto;
  padding: 10px;
  .city-info {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .state {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .status {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .time {
      border-top: 2px solid #00688b;
      padding: 5px 0 0 0;
      margin-top: 5px;
      font-size: 14px;
    }
    .summary {
      text-align: right;
      padding-right: 5px;
    }
    &.current {
      margin: 10px 0 10px 0;
    }
    li {
      margin-top: 5px;
      min-width: 100px;
      padding: 5px;
      background-color: #e8e8e8;
      &:nth-child(even) {
        background-color: #f8f9fa;
      }
    }
  }
  .date-row {
    ul {
      display: inline-flex;
      li {
        cursor: pointer;
        color: #00688b;
        padding: 5px;
        &.active {
          color: #3299cc;
        }
      }
    }
  }
  .other-days-state {
    display: flex;
    flex-direction: column;
    .date {
      align-self: flex-end;
    }
    .state {
      padding: 10px;
    }
  }
}
</style>
