<template>
  <div id="app">
    <header-bar />
    <CitySearch />
    <div class="container">
      <Location :weather="weather" :city="city"/>
      <div class="fav-locations" v-for="location in favorites" :key="location.id">
        <Location :weather="location.timestamp" :city="location.city"/>
      </div>
    </div>
    <div class="to-top">
      <a href="#header">TO TOP</a>
    </div>
  </div>
</template>

<script>
import Location from './components/Location'
import HeaderBar from './components/HeaderBar'
import CitySearch from './components/CitySearch'

export default {
  name: 'App',
  components: {
    Location,
    HeaderBar,
    CitySearch
  },
  computed: {
    weather () {
      return this.$store.state.weather.timestamp
    },
    city () {
      return this.$store.state.weather.city
    },
    favorites () {
      return this.$store.state.weather.favorites
    }
  },
  methods: {
    getLocation () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.getLocationWeather)
      } else {
        console.info('Geolocation is not supported by this browser.')
      }
    },
    getLocationWeather (position) {
      const coord = {
        lon: position.coords.longitude,
        lat: position.coords.latitude
      }
      this.$store.dispatch('weather/getCurrentWeather', { coord })
    }
  },
  mounted () {
    this.getLocation()
  }
}
</script>

<style lang="less">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
  width: 100%;
  .to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #fff;
    padding: 30px 10px;
    border-radius: 40px;
    a {
      text-decoration: none;
      color: #00688b;
    }
  }
}
.fav-locations {
  margin: auto;
}
</style>
